In [1]:
import pandas as pd
import numpy as np

/usr/local/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [148]:
pd.set_option('max_rows', 30)
pd.set_option('max_colwidth', 70)

In [2]:
import ddf_utils.ddf_reader as ddf

In [3]:
mapping = pd.read_csv('./gw_wdi_new.csv')

In [4]:
ddf.SEARCH_PATH = '/Users/semio/src/work/Gapminder'

# cdiac data set

Can't find the link between cdiac dataset and GW dataset.

In [150]:
# Here are the concepts in GW that have cdiac in the source link

filt = mapping['settings_link'].str.contains('cdiac').fillna(False)
mapping[filt]

,concept,settings_link,wdi_id,found_in_wdi
40,co2_emissions_tonnes_per_person,http://cdiac.ornl.gov/trends/emis/meth_reg.html,NaN,NaN
180,cumulative_co2_emissions_tonnes,http://cdiac.ornl.gov/ftp/ndp030/CSV-FILES/,NaN,NaN
182,yearly_co2_emissions_tonnes,http://cdiac.ornl.gov/trends/emis/meth_reg.html,NaN,NaN
563,yearly_co2_emissions_1000_tonnes,http://cdiac.ornl.gov/trends/emis/meth_reg.html,NaN,NaN

In [149]:
ddf._get_index('ddf--cdiac-co2')  # the index for cdiac

,key,value,file
0,concept,name,ddf--concepts--continuous.csv
1,concept,concept_type,ddf--concepts--continuous.csv
2,concept,name,ddf--concepts--discrete.csv
3,concept,concept_type,ddf--concepts--discrete.csv
4,"global,year",carbon_emissions_from_cement_production,ddf--datapoints--carbon_emissions_from_cement_production--by--glob...
5,"global,year",carbon_emissions_from_gas_flaring,ddf--datapoints--carbon_emissions_from_gas_flaring--by--global--ye...
6,"global,year",carbon_emissions_from_gas_fuel_consumption,ddf--datapoints--carbon_emissions_from_gas_fuel_consumption--by--g...
7,"global,year",carbon_emissions_from_liquid_fuel_consumption,ddf--datapoints--carbon_emissions_from_liquid_fuel_consumption--by...
8,"global,year",carbon_emissions_from_solid_fuel_consumption,ddf--datapoints--carbon_emissions_from_solid_fuel_consumption--by-...
9,"nation,year",emissions_from_bunker_fuels_not_included_in_the_totals,ddf--datapoints--emissions_from_bunker_fuels_not_included_in_the_t...
10,"nation,year",emissions_from_cement_production,ddf--datapoints--emissions_from_cement_production--by--nation--yea...
11,"nation,year",emissions_from_gas_flaring,ddf--datapoints--emissions_from_gas_flaring--by--nation--year.csv
12,"nation,year",emissions_from_gas_fuel_consumption,ddf--datapoints--emissions_from_gas_fuel_consumption--by--nation--...
13,"nation,year",emissions_from_liquid_fuel_consumption,ddf--datapoints--emissions_from_liquid_fuel_consumption--by--natio...
14,"nation,year",emissions_from_solid_fuel_consumption,ddf--datapoints--emissions_from_solid_fuel_consumption--by--nation...
15,"global,year",per_capita_carbon_emissions_metric_tons_of_carbon_after_1949_only,ddf--datapoints--per_capita_carbon_emissions_metric_tons_of_carbon...
16,"nation,year",per_capita_co2_emissions_metric_tons_of_carbon,ddf--datapoints--per_capita_co2_emissions_metric_tons_of_carbon--b...
17,"global,year",total_carbon_emissions_from_fossil_fuel_consumption_and_cement_pro...,ddf--datapoints--total_carbon_emissions_from_fossil_fuel_consumpti...
18,"global,year",total_carbon_emissions_from_fossil_fuels_million_metric_tons_of_c,ddf--datapoints--total_carbon_emissions_from_fossil_fuels_million_...
19,"nation,year",total_co2_emissions_from_fossil_fuels_and_cement_production_thousa...,ddf--datapoints--total_co2_emissions_from_fossil_fuels_and_cement_...
20,"nation,year",total_co2_emissions_from_fossil_fuels_thousand_metric_tons_of_c,ddf--datapoints--total_co2_emissions_from_fossil_fuels_thousand_me...

## co2_emissions_tonnes_per_person

In [155]:
# check some of the data from GW

ddf.ddf_datapoint('ddf--gapminder--gapminder_world', 'co2_emissions_tonnes_per_person').query(
    'geo == "afg" & time < 1960')

    geo  co2_emissions_tonnes_per_person  time
0   afg                         0.001816  1949
1   afg                         0.010350  1950
2   afg                         0.011080  1951
3   afg                         0.010900  1952
4   afg                         0.012450  1953
5   afg                         0.012240  1954
6   afg                         0.017440  1955
7   afg                         0.020400  1956
8   afg                         0.032070  1957
9   afg                         0.035430  1958
10  afg                         0.040570  1959

In [160]:
# The most likely related one is per_capita_co2_emissions_metric_tons_of_carbon
# but it seems they are different.

ddf.ddf_datapoint('ddf--cdiac-co2', 'per_capita_co2_emissions_metric_tons_of_carbon').query(
    'nation == "AFGHANISTAN" & year < 1960 & version == "1751_2011"')

,nation,year,version,per_capita_co2_emissions_metric_tons_of_carbon
33689,AFGHANISTAN,1950,1751_2011,0.00
33690,AFGHANISTAN,1951,1751_2011,0.00
33691,AFGHANISTAN,1952,1751_2011,0.00
33692,AFGHANISTAN,1953,1751_2011,0.00
33693,AFGHANISTAN,1954,1751_2011,0.00
33694,AFGHANISTAN,1955,1751_2011,0.00
33695,AFGHANISTAN,1956,1751_2011,0.01
33696,AFGHANISTAN,1957,1751_2011,0.01
33697,AFGHANISTAN,1958,1751_2011,0.01
33698,AFGHANISTAN,1959,1751_2011,0.01

## yearly_co2_emissions_tonnes

In [166]:
# check some of the data from GW

ddf.ddf_datapoint('ddf--gapminder--gapminder_world', 'yearly_co2_emissions_tonnes').query(
    'geo == "afg" & time < 1960')

    geo  yearly_co2_emissions_tonnes  time
0   afg                        14.67  1949
1   afg                        84.33  1950
2   afg                        91.67  1951
3   afg                        91.67  1952
4   afg                       106.30  1953
5   afg                       106.30  1954
6   afg                       154.00  1955
7   afg                       183.30  1956
8   afg                       293.30  1957
9   afg                       330.00  1958
10  afg                       385.00  1959

In [164]:
# The most likely related one is total_co2_emissions_from_fossil_fuels_thousand_metric_tons_of_c

ddf.ddf_datapoint('ddf--cdiac-co2', 'total_co2_emissions_from_fossil_fuels_thousand_metric_tons_of_c').query(
    'nation == "AFGHANISTAN" & year < 1960 & version == "1751_2009"')

,nation,year,version,total_co2_emissions_from_fossil_fuels_thousand_metric_tons_of_c
15916,AFGHANISTAN,1949,1751_2009,4.0
15917,AFGHANISTAN,1950,1751_2009,23.0
15918,AFGHANISTAN,1951,1751_2009,25.0
15919,AFGHANISTAN,1952,1751_2009,25.0
15920,AFGHANISTAN,1953,1751_2009,29.0
15921,AFGHANISTAN,1954,1751_2009,29.0
15922,AFGHANISTAN,1955,1751_2009,42.0
15923,AFGHANISTAN,1956,1751_2009,50.0
15924,AFGHANISTAN,1957,1751_2009,80.0
15925,AFGHANISTAN,1958,1751_2009,90.0
15926,AFGHANISTAN,1959,1751_2009,105.0

NOTE: The `cumulative_co2_emissions_tonnes` in GW is cumulated sum of `yearly_co2_emissions_tonnes`.

# IHME Life expectancy

problems:

1. there are 3 life expectancy data in GW. All of 3 have same data except that the `life_expectancy_at_birth_data_from_ihme` begins from 1990 while others two begin from 1970.
2. Country Code in lhme data set is a bit difference from the one in GW, for example `afg` means Afghanistan in GW, but Bhutan in ihme

In [167]:
filt2 = mapping['concept'].str.contains('life_expectancy').fillna(False)

In [168]:
mapping[filt2]  # notice that 3 of the source links are the same one.

,concept,settings_link,wdi_id,found_in_wdi
43,life_expectancy_years,http://spreadsheets.google.com/pub?key=phAwcNAVuyj2tPLxKvvnNPA&gid=1,NaN,NaN
488,data_quality_life_expectancy,http://www.gapminder.org/data/documentation/gd004/,NaN,NaN
496,life_expectancy_at_birth_with_projections,http://spreadsheets.google.com/pub?key=phAwcNAVuyj2tPLxKvvnNPA&gid=1,NaN,NaN
556,life_expectancy_at_birth_data_from_ihme,http://spreadsheets.google.com/pub?key=phAwcNAVuyj2tPLxKvvnNPA&gid=1,NaN,NaN
559,life_expectancy_male,http://esa.un.org/unpd/wpp/Excel-Data/Interpolated.htm,NaN,NaN
560,life_expectancy_female,http://esa.un.org/unpd/wpp/Excel-Data/Interpolated.htm,NaN,NaN

In [191]:
ddf.ddf_datapoint('ddf--gapminder--gapminder_world', 'life_expectancy_years').query('time == 1970').head()

     geo  life_expectancy_years  time
170  afg                   41.8  1970
386  alb                   66.7  1970
602  dza                   56.6  1970
648  and                   77.5  1970
864  ago                   47.7  1970

In [180]:
# checking the data below... note that sex_id == 3 means both sexes, age_group_id == 28 means at birth.

## AFG

In [192]:
ddf.ddf_entities('ddf--ihme-lex')['location_id'].query('location_code == "AFG"')

     location_id location_code location_name
159          160           AFG        Bhutan

In [193]:
ddf.ddf_datapoint('ddf--ihme-lex', 'mean').query('location_id == 160 & year == 1970 & sex_id == 3 & age_group_id == 28')

        location_id  year  age_group_id  sex_id  mean
503714          160  1970            28       3  41.8

## ALB

In [186]:
ddf.ddf_entities('ddf--ihme-lex')['location_id'].query('location_code == "ALB"')

    location_id location_code location_name
42           43           ALB       Albania

In [194]:
ddf.ddf_datapoint('ddf--ihme-lex', 'mean').query('location_id == 43 & year == 1970 & sex_id == 3 & age_group_id == 28')

        location_id  year  age_group_id  sex_id  mean
133058           43  1970            28       3  66.7

## DZA

In [188]:
ddf.ddf_entities('ddf--ihme-lex')['location_id'].query('location_code == "DZA"')

     location_id location_code location_name
138          139           DZA       Bahrain

In [195]:
ddf.ddf_datapoint('ddf--ihme-lex', 'mean').query('location_id == 139 & year == 1970 & sex_id == 3 & age_group_id == 28')

        location_id  year  age_group_id  sex_id  mean
437186          139  1970            28       3  56.6