In [1]:
import pandas as pd
import numpy as np
import ddf_utils.ddf_reader as ddf

/usr/local/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
pd.set_option('max_rows', 30)
pd.set_option('max_colwidth', 70)

In [3]:
mapping = pd.read_csv('./gw_wdi_new.csv')

ddf.SEARCH_PATH = '/Users/semio/src/work/Gapminder'

# World Population Prospects

In [6]:
ddf._get_index('ddf--wpp')

,key,value,file
0,concept,name,ddf--concepts--continuous.csv
1,concept,concept_type,ddf--concepts--continuous.csv
2,concept,unit,ddf--concepts--continuous.csv
3,concept,name,ddf--concepts--discrete.csv
4,concept,concept_type,ddf--concepts--discrete.csv
5,"country_code,year",births,ddf--datapoints--births--by--country_code--year.csv
6,"country_code,year",crude_birth_rate,ddf--datapoints--crude_birth_rate--by--country_code--year.csv
7,"country_code,year",crude_death_rate,ddf--datapoints--crude_death_rate--by--country_code--year.csv
8,"country_code,year",deaths,ddf--datapoints--deaths--by--country_code--year.csv
9,"country_code,year",female_deaths,ddf--datapoints--female_deaths--by--country_code--year.csv
10,"country_code,year",infant_deaths_both_sexes_combined,ddf--datapoints--infant_deaths_both_sexes_combined--by--country_co...
11,"country_code,year",infant_mortality_rate,ddf--datapoints--infant_mortality_rate--by--country_code--year.csv
12,"country_code,year",life_expectancy_at_birth_both_sexes_combined,ddf--datapoints--life_expectancy_at_birth_both_sexes_combined--by-...
13,"country_code,year",life_expectancy_at_birth_females,ddf--datapoints--life_expectancy_at_birth_females--by--country_cod...
14,"country_code,year",life_expectancy_at_birth_males,ddf--datapoints--life_expectancy_at_birth_males--by--country_code-...
15,"country_code,year",male_deaths,ddf--datapoints--male_deaths--by--country_code--year.csv
16,"country_code,year",population_change,ddf--datapoints--population_change--by--country_code--year.csv
17,"country_code,year",population_growth_rate,ddf--datapoints--population_growth_rate--by--country_code--year.csv
18,"country_code,year",rate_of_natural_increase,ddf--datapoints--rate_of_natural_increase--by--country_code--year.csv
19,"country_code,year",total_fertility,ddf--datapoints--total_fertility--by--country_code--year.csv
20,"country_code,year",total_population_annual_doubling_time,ddf--datapoints--total_population_annual_doubling_time--by--countr...
21,"country_code,year",total_population_natural_change_increase,ddf--datapoints--total_population_natural_change_increase--by--cou...
22,"country_code,year",total_survivors_to_age_1,ddf--datapoints--total_survivors_to_age_1--by--country_code--year.csv
23,"country_code,year",under_five_mortality,ddf--datapoints--under_five_mortality--by--country_code--year.csv
24,country_code,major_area_region_country_or_area,ddf--entities--country_code.csv

In [14]:
mapping.where(mapping['settings_link'].str.contains('esa.un.org')).dropna(how='all')['concept'].values

array(['population_aged_0_4_years_both_sexes_percent',
       'population_aged_5_9_years_both_sexes_percent',
       'population_aged_10_14_years_both_sexes_percent',
       'population_aged_15_19_years_both_sexes_percent',
       'population_aged_20_39_years_both_sexes_percent',
       'population_aged_40_59_years_both_sexes_percent',
       'population_aged_60plus_years_both_sexes_percent',
       'population_aged_0_4_years_total_number',
       'population_aged_5_9_years_total_number',
       'population_aged_10_14_years_total_number',
       'population_aged_15_19_years_total_number',
       'population_aged_20_39_years_total_number',
       'population_aged_40_59_years_total_number',
       'population_aged_60plus_years_total_number',
       'population_aged_0_4_years_female_percent',
       'population_aged_5_9_years_female_percent',
       'population_aged_10_14_years_female_percent',
       'population_aged_15_19_years_female_percent',
       'population_aged_20_39_years_female_percent',
       'population_aged_40_59_years_female_percent',
       'population_aged_60plus_years_female_percent',
       'population_aged_0_4_years_male_percent',
       'population_aged_5_9_years_male_percent',
       'population_aged_10_14_years_male_percent',
       'population_aged_15_19_years_male_percent',
       'population_aged_20_39_years_male_percent',
       'population_aged_40_59_years_male_percent',
       'population_aged_60plus_years_male_percent',
       'crude_birth_rate_births_per_1000_population',
       'crude_death_rate_deaths_per_1000_population',
       'sex_ratio_all_age_groups', 'sex_ratio_0_14_years',
       'sex_ratio_15_24_years', 'sex_ratio_15_49_years',
       'sex_ratio_above_50_years', 'median_age_years',
       'population_density_per_square_km',
       'female_population_with_projections',
       'male_population_with_projections',
       'population_growth_annual_percent_with_projections',
       'life_expectancy_male', 'life_expectancy_female'], dtype=object)

Below lists are shared indicators in both data set.

In [124]:
k = ['crude_birth_rate_births_per_1000_population',
     'crude_death_rate_deaths_per_1000_population', 'life_expectancy_male', 
     'population_growth_annual_percent_with_projections',
     'life_expectancy_female'
    ]

In [125]:
v = ['crude_birth_rate', 'crude_death_rate', 'life_expectancy_at_birth_males', 
      'population_growth_rate', 'life_expectancy_at_birth_females'
    ]

In [126]:
dict(zip(v, k))

{'crude_birth_rate': 'crude_birth_rate_births_per_1000_population',
 'crude_death_rate': 'crude_death_rate_deaths_per_1000_population',
 'life_expectancy_at_birth_females': 'life_expectancy_female',
 'life_expectancy_at_birth_males': 'life_expectancy_male',
 'population_growth_rate': 'population_growth_annual_percent_with_projections'}

In [ ]:
# country code mapping

In [21]:
cpp = ddf.ddf_entities('ddf--wpp')['country_code']
cgw = ddf.ddf_entities('ddf--gapminder--gapminder_world')['country']

In [75]:
cgw.columns

Index(['country', 'gwid', 'name', 'geographic_regions', 'income_groups',
       'landlocked', 'g77_and_oecd_countries',
       'geographic_regions_in_4_colors', 'main_religion_2008',
       'gapminder_list', 'alternative_1', 'alternative_2', 'alternative_3',
       'alternative_4_cdiac', 'pandg', 'god_id', 'alt_5', 'upper_case_name',
       'code', 'number', 'arb1', 'arb2', 'arb3', 'arb4', 'arb5', 'arb6',
       'is--country', 'world_4region', 'latitude', 'longitude'],
      dtype='object')

In [23]:
cpp['country_code'] = cpp['country_code'].map(str)

In [25]:
cpp = cpp.set_index('major_area_region_country_or_area')

In [26]:
cpp = cpp.reset_index()

In [99]:
def gw_id(s):
    for i in ['name', 'alternative_1', 'alternative_2', 'alternative_3', 'upper_case_name',
       'alternative_4_cdiac', 'pandg', 'god_id', 'alt_5', 'arb1', 'arb2', 'arb3', 'arb4', 'arb5', 'arb6']:
    
        if s.lower() in cgw[i].str.lower().values:
            return cgw[cgw[i].str.lower() == s.lower()]['country'].values[0]
    return np.nan

In [100]:
cpp['in_gw'] = cpp['major_area_region_country_or_area'].map(lambda x: gw_id(x))

In [95]:
cpp

,major_area_region_country_or_area,country_code,in_gw
0,WORLD,900,NaN
1,More developed regions,901,NaN
2,Less developed regions,902,NaN
3,Least developed countries,941,NaN
4,"Less developed regions, excluding least developed countries",934,NaN
5,"Less developed regions, excluding China",948,NaN
6,High-income countries,1503,NaN
7,Middle-income countries,1517,NaN
8,Upper-middle-income countries,1502,NaN
9,Lower-middle-income countries,1501,NaN
10,Low-income countries,1500,NaN
11,Sub-Saharan Africa,947,NaN
12,AFRICA,903,NaN
13,Eastern Africa,910,NaN
14,Burundi,108,bdi
...,...,...,...
226,New Zealand,554,nzl
227,Melanesia,928,NaN
228,Fiji,242,fji
229,New Caledonia,540,ncl
230,Papua New Guinea,598,png
231,Solomon Islands,90,slb
232,Vanuatu,548,vut
233,Micronesia,954,fsm
234,Guam,316,gum
235,Kiribati,296,kir
236,Micronesia (Fed. States of),583,fsm
237,Polynesia,957,NaN
238,French Polynesia,258,pyf
239,Samoa,882,wsm
240,Tonga,776,ton

In [101]:
cpp.to_csv('wpp_map.csv')

In [90]:
cgw[cgw['name'].str.contains('New Zealand')]

,country,gwid,name,geographic_regions,income_groups,landlocked,g77_and_oecd_countries,geographic_regions_in_4_colors,main_religion_2008,gapminder_list,...,arb1,arb2,arb3,arb4,arb5,arb6,is--country,world_4region,latitude,longitude
165,nzl,i159,New Zealand,east_asia_pacific,high_income,coastline,oecd,asia,christian,New Zealand,...,NaN,NaN,NaN,NaN,NaN,NaN,True,asia,-42.0,174.0

In [117]:
cpp.query('in_gw == "usa"')

    major_area_region_country_or_area country_code in_gw
222          United States of America          840   usa

In [123]:
ddf.ddf_datapoint('ddf--gapminder--gapminder_world', k[4]).query('geo == "usa" & time > 1949 & time < 1960')

       life_expectancy_female  geo  time
28050                   71.01  usa  1950
28051                   71.19  usa  1951
28052                   71.55  usa  1952
28053                   71.88  usa  1953
28054                   72.17  usa  1954
28055                   72.44  usa  1955
28056                   72.67  usa  1956
28057                   72.88  usa  1957
28058                   73.05  usa  1958
28059                   73.21  usa  1959

In [121]:
ddf.ddf_datapoint('ddf--wpp', v[4]).query('country_code == 840 & reference_date_1_january_31_december < 1960')

,country_code,reference_date_1_january_31_december,life_expectancy_at_birth_females,variant
14652,840,1950,71.010,Estimates
14653,840,1951,71.195,Estimates
14654,840,1952,71.550,Estimates
14655,840,1953,71.875,Estimates
14656,840,1954,72.170,Estimates
14657,840,1955,72.435,Estimates
14658,840,1956,72.669,Estimates
14659,840,1957,72.875,Estimates
14660,840,1958,73.053,Estimates
14661,840,1959,73.206,Estimates

In [ ]:
ddf.ddf_entities('')