In [3]:
import pandas as pd
import numpy as np
import ddf_utils.ddf_reader as ddf

In [2]:
pd.set_option('max_rows', 30)
pd.set_option('max_colwidth', 70)

In [4]:
mapping = pd.read_csv('./gw_wdi_new.csv')

ddf.SEARCH_PATH = '/Users/semio/src/work/Gapminder'

# Child Mortality Estimates

In [5]:
ddf._get_index('ddf--cme')

,key,value,file
0,concept,name,ddf--concepts--continuous.csv
1,concept,concept_type,ddf--concepts--continuous.csv
2,concept,name,ddf--concepts--discrete.csv
3,concept,concept_type,ddf--concepts--discrete.csv
4,"country,year",imr_lower,ddf--datapoints--imr_lower--by--country--year.csv
5,"country,year",imr_median,ddf--datapoints--imr_median--by--country--year.csv
6,"country,year",imr_upper,ddf--datapoints--imr_upper--by--country--year.csv
7,"country,year",infant_deaths_lower,ddf--datapoints--infant_deaths_lower--by--country--year.csv
8,"country,year",infant_deaths_median,ddf--datapoints--infant_deaths_median--by--country--year.csv
9,"country,year",infant_deaths_upper,ddf--datapoints--infant_deaths_upper--by--country--year.csv
10,"country,year",neonatal_deaths_lower,ddf--datapoints--neonatal_deaths_lower--by--country--year.csv
11,"country,year",neonatal_deaths_median,ddf--datapoints--neonatal_deaths_median--by--country--year.csv
12,"country,year",neonatal_deaths_upper,ddf--datapoints--neonatal_deaths_upper--by--country--year.csv
13,"country,year",nmr_lower,ddf--datapoints--nmr_lower--by--country--year.csv
14,"country,year",nmr_median,ddf--datapoints--nmr_median--by--country--year.csv
15,"country,year",nmr_upper,ddf--datapoints--nmr_upper--by--country--year.csv
16,"country,year",u5mr_lower,ddf--datapoints--u5mr_lower--by--country--year.csv
17,"country,year",u5mr_median,ddf--datapoints--u5mr_median--by--country--year.csv
18,"country,year",u5mr_upper,ddf--datapoints--u5mr_upper--by--country--year.csv
19,"country,year",under_five_deaths_lower,ddf--datapoints--under_five_deaths_lower--by--country--year.csv
20,"country,year",under_five_deaths_median,ddf--datapoints--under_five_deaths_median--by--country--year.csv
21,"country,year",under_five_deaths_upper,ddf--datapoints--under_five_deaths_upper--by--country--year.csv
22,country,countryname,ddf--entities--country.csv
23,country,iso_code,ddf--entities--country.csv

In [8]:
# From the source file of CME, the data are downloaded from http://www.childmortality.org/, so we filter those out

mapping[mapping['settings_link'].str.contains('http://www.childmortality.org/').fillna(False)]

,concept,settings_link,wdi_id,found_in_wdi
480,under_five_mortality_from_cme_per_1000_born,http://www.childmortality.org/,NaN,NaN
567,newborn_mortality_rate_per_1000,http://www.childmortality.org/,NaN,NaN
568,newborn_deaths,http://www.childmortality.org/,NaN,NaN

In [38]:
ddf.ddf_entities('ddf--gapminder--gapminder_world')['country'].query('country == "alb"')

,country,gwid,name,geographic_regions,income_groups,landlocked,g77_and_oecd_countries,geographic_regions_in_4_colors,main_religion_2008,gapminder_list,...,arb1,arb2,arb3,arb4,arb5,arb6,is--country,world_4region,latitude,longitude
3,alb,i3,Albania,europe_central_asia,upper_middle_income,coastline,others,europe,muslim,Albania,...,NaN,NaN,NaN,NaN,NaN,NaN,True,europe,41.0,20.0

In [46]:
ddf.ddf_datapoint('ddf--gapminder--gapminder_world', 'under_five_mortality_from_cme_per_1000_born').query(
    'geo == "afg"' 
)

    geo  under_five_mortality_from_cme_per_1000_born  time
0   afg                                        401.1  1956
1   afg                                        394.4  1957
2   afg                                        387.7  1958
3   afg                                        379.8  1959
4   afg                                        373.3  1960
5   afg                                        366.4  1961
6   afg                                        360.0  1962
7   afg                                        353.0  1963
8   afg                                        346.4  1964
9   afg                                        339.8  1965
10  afg                                        333.7  1966
11  afg                                        327.3  1967
12  afg                                        321.7  1968
13  afg                                        315.7  1969
14  afg                                        309.3  1970
..  ...                                          ...   ...
41  afg                                        146.9  1997
42  afg                                        143.7  1998
43  afg                                        139.8  1999
44  afg                                        136.2  2000
45  afg                                        132.8  2001
46  afg                                        129.2  2002
47  afg                                        125.9  2003
48  afg                                        122.7  2004
49  afg                                        119.4  2005
50  afg                                        116.3  2006
51  afg                                        113.4  2007
52  afg                                        109.7  2008
53  afg                                        106.7  2009
54  afg                                        103.9  2010
55  afg                                        101.1  2011

[56 rows x 3 columns]

In [47]:
ddf.ddf_datapoint('ddf--cme', 'u5mr_median').query('iso == "AFG"')  ## why the difference?

    iso  year  u5mr_median
0   AFG  1961        356.5
1   AFG  1962        350.6
2   AFG  1963        345.0
3   AFG  1964        339.7
4   AFG  1965        334.1
5   AFG  1966        328.7
6   AFG  1967        323.3
7   AFG  1968        318.1
8   AFG  1969        313.0
9   AFG  1970        307.8
10  AFG  1971        302.1
11  AFG  1972        296.4
12  AFG  1973        290.8
13  AFG  1974        284.9
14  AFG  1975        279.4
..  ...   ...          ...
40  AFG  2001        133.8
41  AFG  2002        130.3
42  AFG  2003        126.8
43  AFG  2004        123.2
44  AFG  2005        119.6
45  AFG  2006        116.3
46  AFG  2007        113.2
47  AFG  2008        110.4
48  AFG  2009        107.6
49  AFG  2010        105.0
50  AFG  2011        102.3
51  AFG  2012         99.5
52  AFG  2013         96.7
53  AFG  2014         93.9
54  AFG  2015         91.1

[55 rows x 3 columns]

In [34]:
(187.7 + 220.8 + 203.8) / 3

204.1