In [1]:
import pandas as pd
import numpy as np

/usr/local/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [148]:
pd.set_option('max_rows', 30)
pd.set_option('max_colwidth', 70)

In [2]:
import ddf_utils.ddf_reader as ddf

In [3]:
mapping = pd.read_csv('./gw_wdi_new.csv')

In [4]:
ddf.SEARCH_PATH = '/Users/semio/src/work/Gapminder'

# cdiac data set

One ton of carbon equals 44/12 = 11/3 = 3.667 tons of carbon dioxide

In [150]:
# Here are the concepts in GW that have cdiac in the source link

filt = mapping['settings_link'].str.contains('cdiac').fillna(False)
mapping[filt]

,concept,settings_link,wdi_id,found_in_wdi
40,co2_emissions_tonnes_per_person,http://cdiac.ornl.gov/trends/emis/meth_reg.html,NaN,NaN
180,cumulative_co2_emissions_tonnes,http://cdiac.ornl.gov/ftp/ndp030/CSV-FILES/,NaN,NaN
182,yearly_co2_emissions_tonnes,http://cdiac.ornl.gov/trends/emis/meth_reg.html,NaN,NaN
563,yearly_co2_emissions_1000_tonnes,http://cdiac.ornl.gov/trends/emis/meth_reg.html,NaN,NaN

In [200]:
ddf._get_index('ddf--cdiac-co2').query('key == "nation,year"')[['value']]  # the index for cdiac

                                                                    value
9                  emissions_from_bunker_fuels_not_included_in_the_totals
10                                       emissions_from_cement_production
11                                             emissions_from_gas_flaring
12                                    emissions_from_gas_fuel_consumption
13                                 emissions_from_liquid_fuel_consumption
14                                  emissions_from_solid_fuel_consumption
16                         per_capita_co2_emissions_metric_tons_of_carbon
19  total_co2_emissions_from_fossil_fuels_and_cement_production_thousa...
20        total_co2_emissions_from_fossil_fuels_thousand_metric_tons_of_c

## co2_emissions_tonnes_per_person

In [230]:
# check some of the data from GW

d1 = ddf.ddf_datapoint('ddf--gapminder--gapminder_world', 'co2_emissions_tonnes_per_person').query(
    'geo == "usa" & time < 2011 & time >= 1950')

# TODO: http://cdiac.ornl.gov/CO2_Emission/timeseries/national only have data back to 1950, 
# how is the 1800's data calculated?

d1 = d1.set_index('time')
d1['co2_emissions_tonnes_per_person']  # the unit: tons of CO2.

time
1950    16.08
1951    16.34
1952    15.67
1953    15.78
1954    14.78
1955    15.91
1956    16.39
1957    15.97
1958    15.21
1959    15.41
1960    15.51
1961    15.22
1962    15.56
1963    16.03
1964    16.52
        ...
1996    19.62
1997    19.88
1998    19.77
1999    19.80
2000    20.22
2001    19.61
2002    19.59
2003    19.50
2004    19.69
2005    19.63
2006    19.15
2007    19.28
2008    18.55
2009    17.26
2010    17.50
Name: co2_emissions_tonnes_per_person, dtype: float64

In [231]:
# The most likely related one is per_capita_co2_emissions_metric_tons_of_carbon
# but it seems they are different.

d2 = ddf.ddf_datapoint('ddf--cdiac-co2', 'per_capita_co2_emissions_metric_tons_of_carbon').query(
    'year < 2011 & version == "1751_2011" & nation == "UNITED STATES OF AMERICA"')

d2['per_capita_co2_emissions_metric_tons_of_carbon'] = d2['per_capita_co2_emissions_metric_tons_of_carbon'] * 3.667

d2.set_index('year')['per_capita_co2_emissions_metric_tons_of_carbon']

year
1950    15.84144
1951    16.09813
1952    15.43807
1953    15.54808
1954    14.55799
1955    15.69476
1956    16.17147
1957    15.76810
1958    14.99803
1959    15.21805
1960    15.32806
1961    15.03470
1962    15.36473
1963    15.80477
1964    16.28148
          ...
1996    19.25175
1997    19.43510
1998    19.32509
1999    19.43510
2000    19.87514
2001    19.32509
2002    19.28842
2003    19.21508
2004    19.32509
2005    19.25175
2006    18.77504
2007    18.81171
2008    18.07831
2009    16.83153
2010    17.08822
Name: per_capita_co2_emissions_metric_tons_of_carbon, dtype: float64

## yearly_co2_emissions_tonnes

unit: million of tonnes

In [166]:
# check some of the data from GW

ddf.ddf_datapoint('ddf--gapminder--gapminder_world', 'cumulative_co2_emissions_tonnes').query(
    'geo == "afg" & time < 1960')

    geo  yearly_co2_emissions_tonnes  time
0   afg                        14.67  1949
1   afg                        84.33  1950
2   afg                        91.67  1951
3   afg                        91.67  1952
4   afg                       106.30  1953
5   afg                       106.30  1954
6   afg                       154.00  1955
7   afg                       183.30  1956
8   afg                       293.30  1957
9   afg                       330.00  1958
10  afg                       385.00  1959

In [234]:
# The most likely related one is total_co2_emissions_from_fossil_fuels_thousand_metric_tons_of_c

d2 = ddf.ddf_datapoint('ddf--cdiac-co2', 'total_co2_emissions_from_fossil_fuels_thousand_metric_tons_of_c').query(
    'nation == "AFGHANISTAN" & year < 1960 & version == "1751_2009"')

d2['total_co2_emissions_from_fossil_fuels_thousand_metric_tons_of_c'] = d2['total_co2_emissions_from_fossil_fuels_thousand_metric_tons_of_c'] * 3.667

d2

,nation,year,version,total_co2_emissions_from_fossil_fuels_thousand_metric_tons_of_c
15916,AFGHANISTAN,1949,1751_2009,14.668
15917,AFGHANISTAN,1950,1751_2009,84.341
15918,AFGHANISTAN,1951,1751_2009,91.675
15919,AFGHANISTAN,1952,1751_2009,91.675
15920,AFGHANISTAN,1953,1751_2009,106.343
15921,AFGHANISTAN,1954,1751_2009,106.343
15922,AFGHANISTAN,1955,1751_2009,154.014
15923,AFGHANISTAN,1956,1751_2009,183.350
15924,AFGHANISTAN,1957,1751_2009,293.360
15925,AFGHANISTAN,1958,1751_2009,330.030
15926,AFGHANISTAN,1959,1751_2009,385.035

# cumulative_co2_emissions_tonnes

NOTE: The `cumulative_co2_emissions_tonnes` in GW is cumulated sum of `yearly_co2_emissions_tonnes`.

# yearly_co2_emissions_1000_tonnes

unit: thousands of tonnes. same as `yearly_co2_emissions_tonnes`

In [235]:
ddf.ddf_datapoint('ddf--gapminder--gapminder_world', 'cumulative_co2_emissions_tonnes').query(
    'geo == "afg" & time < 1960')

    geo  cumulative_co2_emissions_tonnes  time
0   afg                            14670  1949
1   afg                            99000  1950
2   afg                           190700  1951
3   afg                           282300  1952
4   afg                           388700  1953
5   afg                           495000  1954
6   afg                           649000  1955
7   afg                           832300  1956
8   afg                          1126000  1957
9   afg                          1456000  1958
10  afg                          1841000  1959