In [1]:
import pandas as pd
import numpy as np
import ddf_utils.ddf_reader as ddf

/usr/local/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [2]:
pd.set_option('max_rows', 30)
pd.set_option('max_colwidth', 70)

In [3]:
mapping = pd.read_csv('./gw_wdi_new.csv')

ddf.SEARCH_PATH = '/Users/semio/src/work/Gapminder'

# Child Mortality Estimates

In [5]:
ddf._get_index('ddf--cme')

,key,value,file
0,concept,name,ddf--concepts--continuous.csv
1,concept,concept_type,ddf--concepts--continuous.csv
2,concept,name,ddf--concepts--discrete.csv
3,concept,concept_type,ddf--concepts--discrete.csv
4,"country,year",imr_lower,ddf--datapoints--imr_lower--by--country--year.csv
5,"country,year",imr_median,ddf--datapoints--imr_median--by--country--year.csv
6,"country,year",imr_upper,ddf--datapoints--imr_upper--by--country--year.csv
7,"country,year",infant_deaths_lower,ddf--datapoints--infant_deaths_lower--by--country--year.csv
8,"country,year",infant_deaths_median,ddf--datapoints--infant_deaths_median--by--country--year.csv
9,"country,year",infant_deaths_upper,ddf--datapoints--infant_deaths_upper--by--country--year.csv
10,"country,year",neonatal_deaths_lower,ddf--datapoints--neonatal_deaths_lower--by--country--year.csv
11,"country,year",neonatal_deaths_median,ddf--datapoints--neonatal_deaths_median--by--country--year.csv
12,"country,year",neonatal_deaths_upper,ddf--datapoints--neonatal_deaths_upper--by--country--year.csv
13,"country,year",nmr_lower,ddf--datapoints--nmr_lower--by--country--year.csv
14,"country,year",nmr_median,ddf--datapoints--nmr_median--by--country--year.csv
15,"country,year",nmr_upper,ddf--datapoints--nmr_upper--by--country--year.csv
16,"country,year",u5mr_lower,ddf--datapoints--u5mr_lower--by--country--year.csv
17,"country,year",u5mr_median,ddf--datapoints--u5mr_median--by--country--year.csv
18,"country,year",u5mr_upper,ddf--datapoints--u5mr_upper--by--country--year.csv
19,"country,year",under_five_deaths_lower,ddf--datapoints--under_five_deaths_lower--by--country--year.csv
20,"country,year",under_five_deaths_median,ddf--datapoints--under_five_deaths_median--by--country--year.csv
21,"country,year",under_five_deaths_upper,ddf--datapoints--under_five_deaths_upper--by--country--year.csv
22,country,countryname,ddf--entities--country.csv
23,country,iso_code,ddf--entities--country.csv

In [8]:
# From the source file of CME, the data are downloaded from http://www.childmortality.org/, so we filter those out

mapping[mapping['settings_link'].str.contains('http://www.childmortality.org/').fillna(False)]

,concept,settings_link,wdi_id,found_in_wdi
480,under_five_mortality_from_cme_per_1000_born,http://www.childmortality.org/,NaN,NaN
567,newborn_mortality_rate_per_1000,http://www.childmortality.org/,NaN,NaN
568,newborn_deaths,http://www.childmortality.org/,NaN,NaN

In [38]:
ddf.ddf_entities('ddf--gapminder--gapminder_world')['country'].query('country == "alb"')

,country,gwid,name,geographic_regions,income_groups,landlocked,g77_and_oecd_countries,geographic_regions_in_4_colors,main_religion_2008,gapminder_list,...,arb1,arb2,arb3,arb4,arb5,arb6,is--country,world_4region,latitude,longitude
3,alb,i3,Albania,europe_central_asia,upper_middle_income,coastline,others,europe,muslim,Albania,...,NaN,NaN,NaN,NaN,NaN,NaN,True,europe,41.0,20.0

In [4]:
k = ['under_five_mortality_from_cme_per_1000_born', 'newborn_mortality_rate_per_1000', 'newborn_deaths']

In [5]:
v = ['u5mr_median', 'nmr_median', 'neonatal_deaths_median']

In [14]:
import json

In [18]:
dict(zip(v,k))

{'neonatal_deaths_median': 'newborn_deaths',
 'nmr_median': 'newborn_mortality_rate_per_1000',
 'u5mr_median': 'under_five_mortality_from_cme_per_1000_born'}

In [9]:
ddf.ddf_datapoint('ddf--gapminder--gapminder_world', k[2]).query(
    'geo == "afg" & time < 1995' 
)

   newborn_deaths  geo  time
0           29660  afg  1990
1           30540  afg  1991
2           32270  afg  1992
3           34360  afg  1993
4           36310  afg  1994

In [10]:
ddf.ddf_datapoint('ddf--cme', v[2]).query('iso == "AFG" & year < 1995')  ## why the difference?

   iso  year  neonatal_deaths_median
0  AFG  1990                 29658.0
1  AFG  1991                 30537.0
2  AFG  1992                 32270.0
3  AFG  1993                 34361.0
4  AFG  1994                 36312.0

In [34]:
(187.7 + 220.8 + 203.8) / 3

204.1

In [7]:
ddf._get_index('ddf--gapminder--geo_entity_domain').query("file == 'ddf--entities--geo--country'")

Empty DataFrame
Columns: [key, value, file]
Index: []